<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" ng-app="gm">
<head>
    <title>Good Music for Dancing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="Content/gm.css" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.simplex.min.css" />
    <link rel="stylesheet" type="text/css" href="Content/font-awesome.min.css" />
</head>
<body ng-cloak ng-controller="mainController as main" layout="column">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Good Music</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#!/home">
                        <i class="fa fa-fw fa-lg fa-home"></i>
                        <span class="hidden-xs">Home</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <ng-view></ng-view>

    <!--
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="main.ToggleMenu()" ng-hide="main.WideLayout">
                <i class="material-icons">menu</i>
            </md-button>
            <span>Good Music for Dancing</span>
        </div>
    </md-toolbar>
    <section layout="row">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="main.WideLayout">
            <md-content layout="row" layout-align="start start" flex>
                <section layout="column" flex>
                    <md-button ng-href="#/home" class="md-primary">
                        <md-icon class="material-icons">home</md-icon>
                        Home
                    </md-button>
                    <md-button ng-href="#/recommend" class="md-primary" ng-show="main.LoggedIn">
                        <md-icon class="material-icons">youtube_searched_for</md-icon>
                        Recommend a Song
                    </md-button>
                    <md-button class="md-primary" ng-click="main.$facebook.Login()" ng-hide="main.LoggedIn">
                        <md-icon class="material-icons">person_outline</md-icon>
                        Login
                    </md-button>
                    <md-button class="md-primary" ng-click="main.$facebook.Logout()" ng-show="main.LoggedIn">
                        <md-icon class="material-icons">person</md-icon>
                        Logout
                    </md-button>
                </section>
            </md-content>
        </md-sidenav>
        <md-content layout="row" layout-align="center" flex>
            <ng-view flex></ng-view>
        </md-content>
    </section>
    -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/gm/gm.min.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
