<!--<md-toolbar>
    <div class="md-toolbar-tools">
        <md-menu>
            <md-button ng-click="$mdOpenMenu()">{{ctrl.Genre.Name || "All Genres"}}</md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.SetGenre()">All Genres</md-button>
                </md-menu-item>
                <md-menu-item ng-repeat="genre in genres">
                    <md-button ng-click="ctrl.SetGenre(genre)">{{genre.Name}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu ng-if="ctrl.Genre">
            <md-button ng-click="$mdOpenMenu()">{{ctrl.Style.Name || "All Styles"}}</md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.SetStyle()">All Styles</md-button>
                </md-menu-item>
                <md-menu-item ng-repeat="style in styles">
                    <md-button ng-click="ctrl.SetStyle(style)">{{style.Name}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button href="#/recommend">Recommend</md-button>
        <span flex></span>
        <md-button ng-click="ctrl.$facebook.Login()" ng-hide="ctrl.LoggedIn">Login</md-button>
        <md-button ng-click="ctrl.$facebook.Logout()" ng-show="ctrl.LoggedIn">Logout</md-button>
    </div>
</md-toolbar>-->
<md-grid-list md-gutter="5px" md-cols-xs="1" md-row-height="1:1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-cols-xl="6">
    <md-grid-tile ng-repeat="video in videos">
        <md-card style="width: 320px; height: 320px">
            <a ng-href="#/video/{{video.VideoId}}/{{video.GenreId}}">
                <img ng-src="{{video.Thumbnail}}" style="width: 320px; height: 180px" />
            </a>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title ellipsis" style="width: 280px">
                        <md-tooltip>{{video.Title}}</md-tooltip>
                        <small>
                            {{video.Title}}<br />
                            {{video.Genre}}
                        </small>
                    </span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="row">
                <div flex="50">
                    <md-icon class="material-icons">thumb_up</md-icon>
                    {{video.Likes}}
                </div>
                <div flex="50">
                    <md-icon class="material-icons">thumb_down</md-icon>
                    {{video.Dislikes}}
                </div>
            </md-card-content>
        </md-card>
    </md-grid-tile>
</md-grid-list>