<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="video in videos">
            <div class="panel panel-default" title="{{video.Title}}">
                <div class="panel-heading">
                    <h6 class="ellipsis text-uppercase">
                        <span><b>{{$index + 1}}. {{video.Title}}</span></b><br />
                        <small>{{video.Genre}}</small>
                    </h6>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <a ng-href="#!/video/{{video.VideoId}}/{{video.GenreId}}">
                        <img ng-src="{{video.Thumbnail}}" class="embed-responsive-item" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<md-toolbar md-scroll-shrink md-shrink-speed-factor="0.1">
    <div class="md-toolbar-tools">
        <span>Good Music</span>
    </div>
</md-toolbar>
<md-toolbar class="md-menu-toolbar" md-scroll-shrink md-shrink-speed-factor="0.1">
    <div layout="row">
        <div class="md-toolbar-tools">
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">Genre</button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="genre in genres">
                            <md-button ng-click="$mdOpenMenu()">{{genre.Name}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">Style</button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="style in styles">
                            <md-button ng-click="$mdOpenMenu()">{{style.Name}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">Sort</button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button>Recent Recommendations</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>
<md-content>
    <md-grid-list md-gutter="5px" md-cols-xs="1" md-row-height="1:1" md-cols-sm="2" md-cols-md="2" md-cols-lg="3" md-cols-xl="4">
        <md-grid-tile ng-repeat="video in videos">
            <md-card style="width: 320px; height: 320px">
                <a ng-href="#!/video/{{video.VideoId}}/{{video.GenreId}}">
                    <img ng-src="{{video.Thumbnail}}" style="width: 320px; height: 180px" />
                </a>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title ellipsis" style="width: 280px">
                            <md-tooltip>{{video.Title}}</md-tooltip>
                            <small>
                                {{video.Title}}<br />
                                {{video.Genre}}
                            </small>
                        </span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="row">
                    <div flex="50">
                        <md-icon class="material-icons">thumb_up</md-icon>
                        {{video.Likes}}
                    </div>
                    <div flex="50">
                        <md-icon class="material-icons">thumb_down</md-icon>
                        {{video.Dislikes}}
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</md-content>
-->
